<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="订单详情">
    <ion-content class="padding">
        <div class="item" style="height: 154px;background: #fafafa;color: black;text-align: -webkit-left;min-height: 124px;">
            订单id：{{chat.id}}
            <p style="margin-top: 15px;margin-bottom: 15px;white-space: normal;height: 20px;text-align:-webkit-auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--<span id="0">已下单</span>--<span id="1">已取走</span>--<span id="2">清洗中</span>--<span id="2">已取回</span>--<span id="3">已完成</span>--</p>
            <p style="margin-top: 15px;margin-bottom: 15px;white-space: normal;height: 20px;text-align:-webkit-auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单总价格：{{chat.total_price}}</p>
            <p style="margin-top: 15px;margin-bottom: 15px;white-space: normal;height: 20px;text-align:-webkit-auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单地址：{{chat.address_id}}</p>
            <p style="margin-top: 15px;margin-bottom: 15px;white-space: normal;height: 60px;text-align:-webkit-auto;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下单时间：{{chat.updated_at}}</p>
        </div>
        
<!--        <input type="button" style='margin-top: 30%;width: 30%;margin-left: 35%;' class=" button button-outline button-calm" ng-click="qiangdan()" value="我要抢单">-->


    </ion-content>
</ion-view>