<ion-view view-title="找回密码">
    <ion-content>
        <div class="list list-inset" style="margin-top: 10%;text-align: center;" ng-init="hide=false">
            <h2 class="calm" ng-show="!hide">
                最懂你的洗衣平台
            </h2>
            <label class="item item-input" style="margin-top: 20%;text-align: center;" >
                <input type="text" ng-model='username' placeholder="手机号">
            </label>
            
            <div class="item item-input-inset">
                <label class="item item-input" style="padding-top: 0px;padding-bottom: 0px;">
                  <input type="text" placeholder="输入验证码">
                </label>
                <input type="button" style="float: right;margin-left: auto;" class="button button-small" value="发送验证码"/>
            </div>
            <div>
                <button class="button button-clear button-calm" style="float: left;">
                    
                </button>
<!--
                <button class="button button-clear button-calm" style="float: right;" ng-click="jump('#/login')">
                    返回登录页面
                </button>
-->
            </div>
            <h5 class="" style='margin-top: 20%;color:red;' ng-show="!hide">
                您输入的账号不存在，请重新输入
            </h5>
            <input type="button" style='margin-top: 30%;width: 30%;' class=" button button-outline button-calm" value="提交" ng-click="jump('#/resetPasswd?from=find')">
        </div>
      
  </ion-content>
</ion-view>
