<ion-view view-title="添加新地址" hide-nav-bar="true">
    <div class="bar bar-header">
        <button class="button button-small button-icon icon ion-chevron-left" ng-click="$ionicGoBack()"></button>
        <div class="h1 title">添加新地址</div>
    </div>
    <ion-content>
        <div class="list list-inset" style="margin-top: 15%;text-align: center;" ng-init="hide=false">

            <ion-item style="padding-left: 30px;" class="item-remove-animate item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <h2 style="float: center;" id="locationno"></h2>
                <h2 style="float: center;font-size:12px;" id="locationText" >{{realLocation1}}</h2>

            </ion-item>

            <div>
                <button class="button button-clear button-calm" style="float: left;">

                </button>
            </div>

        </div>

    </ion-content>
    <div class="bar bar-footer bar-balanced" style="background-color: transparent;padding: 0 0 0 0;">
        <div ng-click='goyuyue()' style="width: 100%;background-color: rgba(17, 193, 243, 0.43);text-align: center;line-height:44px;font-size:17px;">
            添加地址
        </div>
    </div>
</ion-view>