<ion-view view-title="重设密码" hide-nav-bar="true">
    <div class="bar bar-header">
        <button class="button button-small button-icon icon ion-chevron-left" ng-click="$ionicGoBack()"></button>
        <div class="h1 title">充值中心</div>
    </div>
    <ion-content>
        <div class="list list-inset" style="margin-top: 10%;text-align: -webkit-center;" ng-init="hide=false">
            <lable class="item" id="jiumima" style="margin-top: 20%;border-radius: 50%;width: 80px;height: 80px;background: rgba(251, 207, 150, 0.81);">
                <p class="ng-pristine ng-untouched ng-valid ng-empty" style="padding-right: 0px;">余额</p>
                <p class="ng-pristine ng-untouched ng-valid ng-empty" style="padding-right: 0px;">0.00元</p>
            </lable>

            <div class="list list-inset" style="margin-top: 2%;text-align: center;">
                <label class="item" style="margin-top: 5%;text-align: center;">
               应付{{shouldPay}}元
                </label>
                <h5 class="" style='margin-top: 20%;color:red;' id="showerror" ng-show="showerror">
                您输入的账号密码不匹配，请重新输入
            </h5>
                <input type="button" style='margin-top: 15%;width: 30%;' class=" button button-outline button-calm" ng-click="zhifuBtn()" value="结算">
                <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->

            </div>
            <div>
                <button class="button button-clear button-calm" style="float: left;">

                </button>
            </div>


        </div>

    </ion-content>
</ion-view>