<ion-view view-title="专业清洗" hide-nav-bar="true">
    <div class="bar bar-header">
        <button class="button button-small button-icon icon ion-chevron-left" ng-click="$ionicGoBack()"></button>
        <div class="h1 title">专业清洗</div>
    </div>
    <i class="icon ion-chevron-right" style="position: absolute;right: 20px;top: 40%;"></i>
    <ion-content>
        <ion-list>
            <div class="button-bar" style="margin-top: 10%;">
                <a class="button" style="font-size:medium;font-size:medium;border-bottom-color: rgba(17, 193, 243, 0.73);color:rgba(17, 193, 243, 0.73);border-bottom-width: 3px;">洗衣</a>
                <a class="button" style="font-size:medium;">洗鞋</a>
                <a class="button" style="font-size:medium;">洗家纺</a>
                <a class="button" style="font-size:medium;">洗窗帘</a>
                <a class="button" style="font-size:medium;">袋洗</a>
            </div>
            <div class="button-bar" style="margin-top: 2%;margin-bottom: 2%;">
                <a class="button button-small" style="height: 0px;min-height: 30px;font-size:small;color: white;border-width: 3px;border-radius: 20px;background:rgba(17, 193, 243, 0.73);">上衣</a>
                <a class="button button-small" style="height: 0px;min-height: 30px;font-size:small;color: black;border-width: 1px;border-radius: 20px;background:transparent;border-color:black;">大衣外套</a>
                <a class="button button-small" style="height: 0px;min-height: 30px;font-size:small;color: black;border-width: 1px;border-radius: 20px;background:transparent;border-color:black;">裙装裤装</a>
                <a class="button button-small" style="height: 0px;min-height: 30px;font-size:small;color: black;border-width: 1px;border-radius: 20px;background:transparent;border-color:black;">配件</a>
                <a class="button button-small" style="height: 0px;min-height: 30px;font-size:small;color: black;border-width: 1px;border-radius: 20px;background:transparent;border-color:black;">爆品</a>
            </div>
            <!--
            <div class="item item-divider">
                <i class="icon ion-cash" style="position: absolute;left: 10px;top: 22%;margin-right:10px;"> 我的钱包</i>

            </div>
-->
            <div class="item button-bar" style="padding-left: 3px;padding-right: 3px;border-color: transparent;padding: 0px 5px 0px 5px;">
                <a class="button" style="font-size: smaller;background: transparent;padding-left: 3%;padding-right: 3%;height: 150px;border-color: darkgray;border-width: 1px;" ng-click="jump('#/showProduct')"><img src="../img/ben.png" style="margin-top: 10%;width: 50%;height: 36%;max-height: 36%;">
                    <p style="height: 20%;">单衬衫</p>
                    <p>0张</p>
                </a>
                <a class="button" style="font-size: smaller;background: transparent;padding-left: 3%;padding-right: 3%;height: 150px;border-color: darkgray;border-width: 1px;" ng-click="jump('#/showProduct')"><img src="../img/ben.png" style="margin-top: 10%;width: 50%;height: 36%;max-height: 36%;">
                    <p style="height: 20%;">单衬衫</p>
                    <p>0张</p>
                </a>
                <a class="button" style="font-size: smaller;background: transparent;padding-left: 3%;padding-right: 3%;height: 150px;border-color: darkgray;border-width: 1px;" ng-click="jump('#/showProduct')"><img src="../img/ben.png" style="margin-top: 10%;width: 50%;height: 36%;max-height: 36%;">
                    <p style="height: 20%;">单衬衫</p>
                    <p>0张</p>
                </a>
            </div>
            <div class="item button-bar" style="padding-left: 3px;padding-right: 3px;border-color: transparent;padding: 0px 5px 0px 5px;">
                <a class="button" style="font-size: smaller;background: transparent;padding-left: 3%;padding-right: 3%;height: 150px;border-color: darkgray;border-width: 1px;" ng-click="jump('#/showProduct')"><img src="../img/ben.png" style="margin-top: 10%;width: 50%;height: 36%;max-height: 36%;">
                    <p style="height: 20%;">单衬衫</p>
                    <p>0张</p>
                </a>
                <a class="button" style="font-size: smaller;background: transparent;padding-left: 3%;padding-right: 3%;height: 150px;border-color: darkgray;border-width: 1px;" ng-click="jump('#/showProduct')"><img src="../img/ben.png" style="margin-top: 10%;width: 50%;height: 36%;max-height: 36%;">
                    <p style="height: 20%;">单衬衫</p>
                    <p>0张</p>
                </a>
                <a class="button" style="font-size: smaller;background: transparent;padding-left: 3%;padding-right: 3%;height: 150px;border-color: darkgray;border-width: 1px;" ng-click="jump('#/showProduct')"><img src="../img/ben.png" style="margin-top: 10%;width: 50%;height: 36%;max-height: 36%;">
                    <p style="height: 20%;">单衬衫</p>
                    <p>0张</p>
                </a>
            </div>
            <div class="item button-bar" style="padding-left: 3px;padding-right: 3px;border-color: transparent;padding: 0px 5px 0px 5px;">
                <a class="button" style="font-size: smaller;background: transparent;padding-left: 3%;padding-right: 3%;height: 150px;border-color: darkgray;border-width: 1px;" ng-click="jump('#/showProduct')"><img src="../img/ben.png" style="margin-top: 10%;width: 50%;height: 36%;max-height: 36%;">
                    <p style="height: 20%;">单衬衫</p>
                    <p>0张</p>
                </a>
                <a class="button" style="font-size: smaller;background: transparent;padding-left: 3%;padding-right: 3%;height: 150px;border-color: darkgray;border-width: 1px;" ng-click="jump('#/showProduct')"><img src="../img/ben.png" style="margin-top: 10%;width: 50%;height: 36%;max-height: 36%;">
                    <p style="height: 20%;">单衬衫</p>
                    <p>0张</p>
                </a>
                <a class="button" style="font-size: smaller;background: transparent;padding-left: 3%;padding-right: 3%;height: 150px;border-color: darkgray;border-width: 1px;" ng-click="jump('#/showProduct')"><img src="../img/ben.png" style="margin-top: 10%;width: 50%;height: 36%;max-height: 36%;">
                    <p style="height: 20%;">单衬衫</p>
                    <p>0张</p>
                </a>
            </div>
            <div class="item" style="height: 134px;background: transparent;color: black;text-align: -webkit-center;padding-left: 5px;padding-right: 5px;padding-top: 5px;padding-bottom: 5px;margin-bottom: 13%;margin-left: 10%;margin-right: 10%;margin-top: 3%;">
                <div class="item" style="height: 124px;background: #fafafa;color: black;text-align: -webkit-center;min-height: 124px;">
                    青岛用户 136***6666
                    <p style="margin-top: 15px;margin-bottom: 15px;white-space: normal;text-align:-webkit-auto;font-size: smaller;">&nbsp&nbsp&nbsp&nbsp&nbsp羽绒服、棉厚等厚重的衣物预计3年送回</p>
                    <p style="text-align: -webkit-right;font-size: smaller;">点击查看<a style="color:#11c1f3;">《给了我你还想拿回去列表》</a></p>
                </div>
            </div>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title">预约取件</div>
    </div>
</ion-view>