

<ion-view view-title="注册">
    <ion-content>
        <div class="list list-inset" style="margin-top: 10%;text-align: center;" ng-init="hide=false">
            <img src="../../yonghu/img/guapi.png" style="height: 64px">
            <h2 class="calm" ng-show="!hide">
                最懂你的洗衣平台
            </h2>
            <label class="item item-input" style="margin-top: 20%;text-align: center;" >
                <input type="text" ng-model='info.mobile' placeholder="手机号">
            </label>
            <label class="item item-input">
                <input type="password" ng-model='info.encrypted_password' placeholder="密码">
            </label>
            <label class="item item-input">
                <input type="password" ng-model='info.reencrypted_password' placeholder="确认密码">
            </label>
<!--
            <div class="item item-input-inset">
                <label class="item item-input" style="padding-top: 0px;padding-bottom: 0px;">
                  <input type="text" placeholder="输入验证码">
                </label>
                <input type="button" style="float: right;margin-left: auto;" class="button button-small" value="发送验证码"/>
            </div>
-->
            <div>
<!--
                <button class="button button-clear button-calm" style="float: left;">
                    
                </button>
-->
                <button class="button button-clear button-calm" style="float: right;" ng-click="jump('#/login')">
                    已有账号，去登录
                </button>
            </div>
            
            <h5 class="" style='margin-top: 15%;color:red;' ng-show="showerror" id="showerror">
                您输入的用户名格式不合法，请重新输入
            </h5>
            
            <input type="button" style='margin-top: 30%;width: 30%;display: block;margin-left: 35%;' class=" button button-outline button-calm" ng-click="submit()" value="提交">
        </div>
      
  </ion-content>
</ion-view>
  
    