<ion-view view-title="Dashboard" hide-nav-bar="true" style="z-index: 9999">
    <ion-content class="padding">
        <div class="card" style="margin-top: 5px;min-height: 30%;height: 130px;margin-bottom: 5px;">
            <div class="item item-text-wrap" style="text-align:center;padding-top: 5px;">
                <a class="button icon-right ion-arrow-down-b button-calm button-small" style="background-color:rgba(204, 204, 204, 0.24);color:rgba(17, 193, 243, 0.25);height: 0px;min-height: 30px;">北京</a>
            </div>
        </div>
        <p style="text-align: -webkit-center;color: darkgray;">
            -专业洗衣-
        </p>
        <div class="item button-bar" style="padding-left: 3px;padding-right: 3px;border-color: transparent;">
            <a class="button" style="margin-right: 3%;font-size: smaller;background: rgba(255, 182, 193, 0.32);padding-left: 3%;padding-right: 3%;height: 100px" ng-click="jump('#/showProduct')">洗衣<p>0张</p></a>
            <a class="button" style="margin-right: 3%;font-size: smaller;background: rgba(255, 182, 193, 0.32);padding-left: 3%;padding-right: 3%;">洗鞋<p>￥0.0</p></a>
            <a class="button" style="margin-right: 3%;font-size: smaller;background: rgba(255, 182, 193, 0.32);padding-left: 3%;padding-right: 3%;">洗家纺<p>0张</p></a>
            <a class="button" style="font-size: smaller;background: rgba(255, 182, 193, 0.32);padding-left: 3%;padding-right: 3%;">窗帘清洗<p>3张</p></a>
        </div>
        <div class=" " style="margin-top: 20%;min-height: 30%;height: 180px;margin-bottom: 5px;background-image:url(../img/ben.png);background-size: 100% 100%;opacity:0.9;padding-top: 10px;border-left-width: 5px;padding-right: 5px;border-bottom-width: 10px;padding-bottom: 10px;padding-left: 5px;">
            <div class="item" style="height: 164px;background: transparent;color: black;text-align: -webkit-center;padding-left: 5px;padding-right: 5px;padding-top: 5px;padding-bottom: 5px;min-height: 154px;">
                <div class="item" style="height: 154px;background: #fafafa;color: black;text-align: -webkit-center;min-height: 124px;">
                    青岛用户 136***6666
                    <p style="margin-top: 15px;margin-bottom: 15px;white-space: normal;height: 60px;text-align:-webkit-auto;">&nbsp&nbsp&nbsp&nbsp&nbsp用了瓜皮洗衣，腿也不酸了，腰也不疼了！用了瓜皮洗衣，腿也不酸了，腰也不疼了！用了瓜皮洗衣，腿也不酸了，腰也不疼了！</p>
                    <p style="text-align: -webkit-right;">洗衣家纺 2017.03.31</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>